# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt
*.cfg
*.gz
*.log
*.dat
*.mca
*.json
*.dat_mcr
*.lock
*.dat_old
*.properties
